[run]
relative_files = True
source =
    sisifo
    sisifo_common

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
