name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'macos-latest'
          - 'windows-latest'
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Poetry (Latest Version)
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
      - name: Add Poetry to PATH env var
        run: |
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Run Linter
        run: poetry run flake8
      - name: Run Type Checks
        run: poetry run pyrigth
      - name: Run Tests
        run: poetry run pytest
      - name: Build Wheel
        run: poetry build
